$background-color_1: #fcbf49;

/* CSS footer */
footer {
  display: grid;
  background-color: $background-color_1;
  ul {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: $background-color_1;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap: 15px;
    list-style: none;
    padding: 0 100px;
  }
  li {
    background-color: $background-color_1;
  }
}

.footer_icon {
  margin-top: 50px;
  background-color: $background-color_1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 20px;
}
.footer_icon--list {
  display: flex;
  gap: 20px;
  background-color: $background-color_1;
}
.footer_icon--item {
  background-color: $background-color_1;
  cursor: pointer;
  margin-bottom: 30px;
}

.footer-list {
  display: flex;
  gap: 0 20px;
  padding-bottom: 20px;
  width: 1300px;
}
