* {
  margin: auto;
  background-color: #ffe9bc;
}
/* CSS header */
header {
  display: flex;
  padding: 10px;
  gap: 70px;
}
header ul {
  display: flex;
  gap: 70px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
li {
  cursor: pointer;
}
.header_btn {
  display: flex;
  gap: 15px;
}
.header_btn--icon-search {
  color: white;
  background-color: #fcbf49;
  border-radius: 100%;
  cursor: pointer;
}
.header_btn--signup {
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: #fcbf49;
  border: 2px solid #fcbf49;
  border-radius: 4px;
  cursor: pointer;
}
.header_btn--login {
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: white;
  background-color: #fcbf49;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header_hr {
  margin-top: 15px;
  border: 1.5px solid #fcbf49;
}
/* CSS footer */
footer {
  display: grid;
  margin-top: 450px;
  background-color: #fcbf49;
}
footer ul {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 25px;
  background-color: #fcbf49;
  display: flex;
  gap: 15px;
  list-style: none;
}
footer li {
  background-color: #fcbf49;
}
.footer_hr {
  width: 88%;
  margin-top: 15px;
  border: 2px solid black;
}
.footer_icon {
  margin-top: 50px;
  display: flex;
  gap: 1155px;
  background-color: #fcbf49;
}
.footer_4icon {
  display: flex;
  gap: 20px;
  background-color: #fcbf49;
}
.footer_icon--item {
  background-color: #fcbf49;
  cursor: pointer;
  margin-bottom: 10px;
}
